body {
  background-image: url('assets/background.jpg');
  background-position: center;
  margin: 0 auto;
  background-color: #000000;
}

#logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 2em;
}

#board {
  width: 31em;
  height: 30em;
  position: relative;
  display: block;
  margin: 0 auto;
}

.box {
  width: 10em;
  height: 10em;
  border: 1px solid white;
  display: inline-block;
  margin-bottom: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
}

button {
  background-color: #D2871A;
  padding: .2em 3em;
  margin: 0 auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  color: #3b3b3b;
  border: none;
  font-family: 'Play', sans-serif;
  font-size: 2em;
}
button:hover { 
    background-color: #FFCC00;
}
.box:hover {
  background-color: #AFEEEE;
}
